<style>
src: url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
</style>


@font-face {
  font-family: "latoblack";
  src: url("assets/fonts/Lato/lato-black-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoblack_italic";
  src: url("assets/fonts/Lato/lato-blackitalic-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold";
  src: url("assets/fonts/Lato/lato-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold_italic";
  src: url("assets/fonts/Lato/lato-bolditalic-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoitalic";
  src: url("assets/fonts/Lato/lato-italic-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latolight";
  src: url("assets/fonts/Lato/lato-light-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latolight_italic";
  src: url("assets/fonts/Lato/lato-lightitalic-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("assets/fonts/Lato/lato-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latohairline";
  src: url("assets/fonts/Lato/lato-thin-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latohairline_italic";
  src: url("assets/fonts/Lato/lato-thinitalic-webfont.woff2") format("woff2"),
    url("assets/fonts/Lato/lato-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
