@mixin cell-bg-color($color) {
    background-color: $color;
  }
  
  // Define a mixin for setting the font size and color of the table titles
  @mixin title-style($size, $color) {
    font-size: $size;
    color: $color;
  }
  
  // Define a mixin for setting the font size and color of the table descriptions
  @mixin description-style($size, $color) {
    font-size: $size;
    color: $color;
  }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
     // Use the title-style mixin to set the font size and color of the titles
     h2 {
        @include title-style(18px, #333);
        margin-top: 0;
      }
    
      // Use the description-style mixin to set the font size and color of the descriptions
      p {
        @include description-style(14px, #666);
        margin: 10px 0;
      }