@font-face {
  font-family: "alex_brushregular";
  src: url("assets/fonts/alex-brush/alexbrush-regular-webfont.woff2")
      format("woff2"),
    url("assets/fonts/alex-brush/alexbrush-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alex Brush', cursive;;
  src: url("assets/fonts/alex-brush/alexbrush-regular-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}
font-family: 'Alex Brush', cursive;