@font-face {
  font-family: "cookieregular";
  src: url("assets/fonts/cookie-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/cookie-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cookie', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
  font-weight: normal;
  font-style: normal;
}