@font-face {
  font-family: "montserratthin";
  src: url("assets\fonts\montserrat-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("assets\fonts\montserrat-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratthin_italic";
  src: url("assets\fonts\montserrat-italic-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("assets\fonts\montserrat-italic-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
